/*Jack Spencer*/


.error-message {
  font-size: 91%;
  color: red;
}

.style {
  column-count: 2;
  column-gap: 200px;
  column-width:200px;
  color: darkorchid;
  font-size:185%;
  font-family: monospace;
}

body {
  background-color: lightgreen;
  font-family: cursive;
  font-size: 130%;
}

.fb {
  font-size: 99%;
  color: brown;
}

.title {
  color:darkgreen;
}

.main {
  column-count: 2;
}
